body{
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
.topnav{
    height: 34px;
    background-color: gray;
}
.topnav a{
    float: left;
    text-decoration: none;
    color: aqua;
    text-align: center;
    padding: 7px 16px;
    font-size: 17px;
    
}
.topnav a:hover{
    color: black;
    background-color: aqua;
    
}
.topnav a.active{
    background-color: gold;
}
@keyframes changecolor {
    0% {
        color: red;
    }

    25% {
        color: blue;
    }

    50% {
    color: greenyellow;
    }

    75% {
        color: aqua;
    }

    100% {
        color: black;
    }
}

#Home{
    animation-name: changecolor;
    animation-duration: 10s;
}
*{
    background-color: gray;
}
