body {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.topnavi {
    height: 34px;
    background-color: grey;
    overflow: none;
}

.topnavi a {
    float: left;
    text-align: center;
    text-decoration: none;
    padding: 7px 10px;
    font-size: 17px;
}

.topnavi a:hover {
    color: darkgreen;
}

.topnavi a.active {
    background-color: gold;
    animation-name: colorchange;
    animation-duration: 100s;
}

@keyframes colorchange {
    0% {
        color: red;
    }

    5% {
        color: blue;
    }

    10% {
        color: greenyellow;
    }

    15% {
        color: aqua;
    }

    20% {
        color: black;
    }

    25% {
        color: rgb(57, 27, 141);
    }

    30% {
        color: rgb(128, 79, 111);
    }

    35% {
        color: rgba(65, 73, 184, 0.623);
    }

    40% {
        color: rgb(124, 102, 40);
    }

    45% {
        color: rgba(35, 112, 80, 0.726);
    }

    50% {
        color: rgb(43, 10, 10);
    }

    55% {
        color: rgba(124, 158, 117, 0.562);
    }

    60% {
        color: rgb(190, 186, 173);
    }

    65% {
        color: rgb(28, 21, 73);
    }

    70% {
        color: rgb(0, 0, 0);
    }

    75% {
        color: rgb(26, 114, 95);
    }

    80% {
        color: rgb(65, 15, 54);
    }

    85% {
        color: rgb(155, 255, 5);
    }

    90% {
        color: rgb(53, 189, 0);
    }

    100% {
        color: black;
    }
}